PORT=8787
API_KEY=
MACARON_ORIGIN=https://macaron-model-previews.macaron.im
MACARON_DEFAULT_MODEL=macaron-v1-preview-b200
MACARON_TIMEOUT_MS=120000
MACARON_MAX_BODY_BYTES=20971520
MACARON_ALLOW_UNKNOWN_MODELS=0
MACARON_UPSTREAM_API_KEY=
MACARON_UPSTREAM_BASE_URL=
CORS_ALLOW_ORIGIN=*
LOG_REQUESTS=1
